/* ======= GENERAL ======== */
body {
  body {
		background-color: #1e1f23
		padding-top: 8rem;

	}

/* .background {
  background-image: url("/Users/julie/Desktop/untitled folder/Book Shelf Icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100% */
/*
.header > h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  color: #FFF;
  text-decoration: none;
  line-height: 1rem;
} */
ul {
  
}
